<div id="post">
	<h1 class='posttitle dylanrichards pagetitle'>
		<i class="fa fa-comment-o fa-2x"></i>
	</h1>
	<br>
	<% if current_user %>
	<%= link_to 'New Quote', new_quote_path %>
	<% end %>
	<br>

	<% for quote in @quotes %>
	  <blockquote>
	    "<%= "#{quote.body}" %>"
	    <small><%= quote.author %></small>
	  </blockquote>
	  <% if current_user %>
	    <%= link_to 'Edit', edit_quote_path(quote) %>
	    <%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %>
	  <% end %>
	<% end %>
</div>




      


<br>



