<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<% if current_user %>
  <%= link_to 'new post', new_post_path %> |
  <%= link_to 'new photo', new_photo_path %> |
  <%= link_to 'new quote', new_quote_path %> |
  <%= link_to 'reading list', main_reading_list_path %>
<% end %>

<div id="dylanrichards">
  <h1 class='dylanrichards-main'>D.E<span class='highlight'>.</span>R.</h1>

  <div class="row">

    <%# <div class="col-md-4"> %>
    <%#   <blockquote id='homequote'> %>
    <%#     <%=  "#{@quote.body}" %1> %>
    <%#     <br> %>
    <%#     <small><%= "#{@quote.author}" %1></small> %>
    <%#   </blockquote> %>
    <%# </div> %>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
    </div>
  </div>

</div>

<br>

<%# <% if !current_user %1> %>
<%#   <%= link_to "hey, dylan :)", new_user_session_path, class: 'btn btn-default btn-xs admin-button' %1> %>
<%# <% else %1> %>
<%#   <%= link_to "bye, dylan :)", destroy_user_session_path, :method => :delete, class: 'btn btn-xs btn-default admin-button' %1> %>
<%# <% end %1> %>
