<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<% if current_user %>
  <%= link_to 'new post', new_post_path %> | 
  <%= link_to 'new photo', new_photo_path %> |
  <%= link_to 'new quote', new_quote_path %> 
<% end %>

<div id="dylanrichards">
  <%= image_tag 'http://imgur.com/RZoIpFn.png', class: 'homephoto fadein'%>
</div>

<div id="dylanrichards">
  <h1 class='dylanrichards'>dylan e<span class='highlight'>.</span> richards</h1>
  <blockquote id='homequote'>
     <i class="fa fa-quote-left fa-2x"></i> <%=  "#{@quote.body}" %>
     <br>
  <small><%= "#{@quote.author}" %></small>
  </blockquote>
</div>

<br>
<% if !current_user %>
  <%= link_to "hey, dylan :)", new_user_session_path, class: 'btn btn-default btn-xs admin-button' %>
<% else %>
  <%= link_to "bye, dylan :)", destroy_user_session_path, :method => :delete, class: 'btn btn-xs btn-default admin-button' %>
<% end %>
