<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div id="dylanrichards">
  <%= image_tag 'http://imgur.com/RZoIpFn.png', class: 'homephoto'%>
</div>


<span class='symbol'>circletwitterbird</span></p>


<div id="dylanrichards">
  <h1 class='dylanrichards'>dylan e<span class='highlight'>.</span> richards</h1>
  <blockquote id='homequote'>
     "<%=  "#{@quote.body}" %>"

     <br>


  <!--<%= icon'quote-left' %>-->

  <small><%= "#{@quote.author}" %></small>


  </blockquote>
 
</div>





<div id="tag_cloud">

  <!-- commenting out the tag cloud -->

  <%# tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%#= link_to tag.name, tag_path(tag.name), class: css_class %>
  <%# end %>
</div>







<% if current_user %>
  <%= link_to 'new post', new_post_path %> | 
  <%= link_to 'new photo', new_photo_path %> |
  <%= link_to 'new quote', new_quote_path %> 
<% end %>



<br>
<% if !current_user %>
  <%= link_to "hey, dylan :)", new_user_session_path, class: 'btn btn-default btn-xs admin-button' %> 
<% else %>
  <%= link_to "bye, dylan :)", destroy_user_session_path, :method => :delete, class: 'btn btn-xs btn-default admin-button' %>
  

<% end %>
