<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<% if current_user %>
  <%= link_to 'new post', new_post_path %> |
  <%= link_to 'new photo', new_photo_path %> |
  <%= link_to 'new quote', new_quote_path %> |
  <%= link_to 'reading list', main_reading_list_path %>
<% end %>

<div id="dylanrichards">

  <div class="row">
    <div class="col-md-6">
      <h1 class='dylanrichards-main'>dylan e<span class="highlight">.</span> richards</span></h1>

      <blockquote id='homequote'>
        <%=  "#{@quote.body}" %>
        <br>
        <small><%= "#{@quote.author}" %></small>
      </blockquote>

    </div>


    <div class="col-md-6">
      <%= image_tag "self.png", class: "self-image" %>
    </div>
  </div>


</div>

<br>

<%# <% if !current_user %1> %>
  <%#   <%= link_to "hey, dylan :)", new_user_session_path, class: 'btn btn-default btn-xs admin-button' %1> %>
  <%# <% else %1> %>
    <%#   <%= link_to "bye, dylan :)", destroy_user_session_path, :method => :delete, class: 'btn btn-xs btn-default admin-button' %1> %>
    <%# <% end %1> %>
