<div id="post">
  <h1 class='posttitle dylanrichards pagetitle'>
    <i class="fa fa-code fa-2x"></i>
  </h1>

  <br>

  <strong>dylanerichards.com</strong> : <%= link_to 'Application', root_path %> | <%= link_to 'Code', 'http://www.github.com/dylanerichards/dylanerichards' %>

<p>
My blog, my portfolio, my resume. It's an ongoing project. I update the site whenever I learn something useful.  </p>

<strong>RSGuides</strong>

<p>
RSGuides is a web application I built to help RuneScape players find game help more quickly. This is where things started to click for me. I don't think I truly understood the relationship between the Model, View, and Controller until this project. This project also marked my first experience with agile development practices.
</p>

<strong>MansionExpress</strong> : <%= link_to 'Application', 'http://mansion-express.herokuapp.com' %> | <%= link_to 'Code', 'http://www.github.com/dylanerichards/mansion-express' %>

  <p>
  MansionExpress is a web application built using Ruby on Rails. Its purpose is to bring what is a fantasy to most (living in a mansion) to reality. Users can choose a location and a timeframe, and book a mansion with a group of people.
  </p>

  <strong>Stynyl</strong> : <%= link_to 'Code', 'http://www.github.com/dylanerichards/stynyl' %>

<p>
This was my first serious Rails project! My brother gave me the idea. It was a photo sharing application that allowed users to share what they were wearing, where others could get those items, and follow each other. Rough project, haha.
</p>
</div>
