<h1>projects</h1>

<strong>RSGuides</strong> : <%= link_to 'RSGuides.net', 'http://www.rsguides.net' %>

<p>RSGuides is a web application I built to help <%= link_to 'RuneScape', 'http://www.runescape.com/' %> players find game help more quickly.</p>

<strike>Basketball Advice</strike> : <%= link_to 'BasketballAdvice.com', 'http://www.basketballadvice.com' %>

<p>Basketball Advice was a blog I started to help youth basketball players develop their skills. All that's really left of it is <%= link_to 'this', 'http://www.youth1.com/index.php/basketball-headlines/13817-7-tips-on-how-to-become-a-better-basketball-player' %> guest post I made on <%= link_to 'Youth1', 'http://www.youth1.com' %>.</p>