<div id="post">
	<h1 class='posttitle dylanrichards'>
		<i class="fa fa-code fa-2x"></i>
	</h1>
	<br>
	<strong>dylanerichards.com</strong>: <%= link_to 'dylanerichards.com', 'http://www.dylanerichards.com' %>

	<p>My blog, my portfolio, my resume. It's an ongoing project. I update the site whenever I learn something useful.</p>

	<strong>RSGuides</strong> : <%= link_to 'RSGuides.net', 'http://www.rsguides.net' %>

	<p>RSGuides is a web application I built to help RuneScape players find game help more quickly. This is where things started to click for me. I don't think I truly understood the relationship between the Model, View, and Controller until this project.</p>

	<strong>Basketball Advice</strong> : <%= link_to 'BasketballAdvice.com', 'http://www.basketballadvice.com' %>

	<p>Basketball Advice was a blog I started to help youth basketball players develop their skills. All that's really left of it is <%= link_to 'this', 'http://www.youth1.com/index.php/basketball-headlines/13817-7-tips-on-how-to-become-a-better-basketball-player' %> guest post on Youth1.</p>

	<strong>Stynyl</strong> : <%= link_to 'Stynyl.com', 'http://www.stynyl.com' %>

	<p>This was my first serious Rails project! My brother gave me the idea. It was a photo sharing application that allowed users to share what they were wearing, where others could get those items, and follow each other. Rough project, haha.</p>

	<strong>Alpha Nu</strong> : <%= link_to 'Alpha Nu', 'http:/www.alphanu.herokuapp.com' %>

	<p>
		As a pledge of Alpha Epsilon Pi, I was required to organize and memorize tons of arbitrary information. I built this web application make the information easier to access and visualize.
	</p>
</div>


