<p id="notice"><%= notice %></p>

<p>


<%= link_to 'Back', :back %> 
  <% if current_user %>

<br> <br>
  


  <%= link_to 'Edit', edit_photo_path(@photo) %> | <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  
<br>

  <%#= @photo.name %>
  <%= image_tag @photo.image.url, width: '500' %>
</p>


