<p id="notice"><%= notice %></p>

<p>
<% if current_user %>
  <br><br>
  <%= link_to 'Edit', edit_photo_path(@photo) %> |
  <%= link_to 'Destroy', @photo, method: :delete,
  data: { confirm: 'Are you sure?' } %>
<% end %>
  <br>
  <%= link_to 'Back', :back %> <br>
  <div class="photoshow">
    <%= image_tag @photo.image.url, width: '500', class: 'photoshowimage' %>
  </div>
</p>


