



<div id="post">
	<% if current_user %>
	  <%= link_to 'Edit', edit_post_path(@post) %> |
	  <%= link_to 'Back', posts_path %>
	<% end %>

	<br>

		<h1 class='posttitle dylanrichards'>
		
			<%= @post.title.downcase %>
		
	    
	  </h1>

	  

	  <div class="postdate">
	  	<%= @post.created_at.to_time.strftime('%B %d %Y') %> <br>
	  	<small><i><%= @post.tag_list.sort_by!{ |tag| tag.downcase } %></i></small>
	  </div>
	  <br>
	  <br>
			

	
	<p>
	  <strong></strong>
	  <%= raw @post.body %>
	</p>

</div>


<br><br>