<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <%# <a href="/" class="navbar-brand"> %>
      <%#   <%= image_tag("logophoto.png", alt: "Dylan E. Richards") %1> %>
      <%# </a> %>

      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path, class: 'navitem' %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "Escalate", "https://www.escalatebook.com" %></li>
        <li><%= link_to "Blog", blog_path %></li>
        <li><%= link_to "Photography", photogallery_path %></li>
        <%# <li><%= link_to 'Projects', projects_path %1> </li> %>
        <li><%= link_to 'Reading', main_reading_list_path %></li>
        <%# <li><%= link_to 'Quotes', quotes_path %1></li> %>
      </ul>
    </div>
  </div>
</nav>
