<nav>
	<div class="pull-left">
		Dylan E. Richards
	</div>
	
	
	<div class="pull-right">
		<%= link_to "Home", root_path %> &middot;
		<%= link_to 'Archive', posts_path %> &middot;
		<%= link_to 'Meditation', pages_meditation_path %> &middot;
		<%= link_to 'Mindfulness', pages_mindfulness_path %> &middot;
		<%= link_to "Photography", pages_photography_path %> &middot;
		<%= link_to 'Programming', pages_programming_path %> &middot;
		<%= link_to 'Projects', pages_projects_path %> &middot;
		<%= link_to 'Quotes', quotes_path %> &middot;
		<%= link_to 'Running', pages_running_path %><!-- : 
		<%= link_to 'Yoga', pages_yoga_path %> -->
	</div>



</nav>


<!--
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>

      </ul>
    </div>
  </div>
</nav>
<div class="navspan"></div> -->



